body {
    justify-content: center;
    background: url(contact.jpg);
    background-repeat: no-repeat;
    background-size: 1500px;
    color: rgb(0, 0, 0);
}

nav ul li {
    list-style: none;
    margin: 20px 40px;
    font-size: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav ul li a:hover {
    color: rgb(255, 0, 0);
  
  }

nav {
    height: 50px;
}

table {
    font-size: 2rem;
    margin-left: 800px;
    font-weight: bold;
    margin-top: 100px;
}

.insta {
    border-radius: 5px;
    height: 50px;
    width: 50px;
    margin: 10px;
}

.yt {
    border-radius: 8px;
    height: 50px;
    width: 60px;
    margin: 10px;
}

.tg {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin: 10px;
}

.li {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.sect1 {
    margin-top: 450px;
    margin-right: 20px;
    text-align: right;
    margin-bottom: 0px;
}